name: Build Windows App 

on: 
  push: 
    branches: [ "main" ] 
  workflow_dispatch: 

jobs: 
  build-windows: 
    runs-on: windows-latest 

    steps: 
      - name: Checkout code 
        uses: actions/checkout@v4 

      - name: Setup Flutter 
        uses: subosito/flutter-action@v2 
        with: 
          channel: 'stable' 

      - name: Enable Windows 
        run: flutter config --enable-windows-desktop 

      - name: Install dependencies 
        run: |
          cd apps/admin
          flutter pub get 

      - name: Build Windows EXE 
        run: |
          cd apps/admin
          flutter build windows --release 

      - name: Build MSIX Installer 
        run: |
          cd apps/admin
          dart run msix:create --install-certificate false

      - name: List files for debugging
        shell: cmd
        run: |
          dir apps/admin\build\windows\ /s

      - name: Upload MSIX 
        uses: actions/upload-artifact@v4 
        with: 
          name: FactoryFlow-Admin-Windows-MSIX 
          path: apps/admin/build/windows/x64/runner/Release/*.msix
          if-no-files-found: error

      - name: Upload MSIX 
        uses: actions/upload-artifact@v4 
        with: 
          name: FactoryFlow-Windows-MSIX 
          path: flutter_application_1/build/windows/x64/runner/Release/*.msix
          if-no-files-found: error
